[Desktop Entry]
Type=Application
Name=Aquila
GenericName=Ground Control Station
Comment=UAS ground control station
Icon=rangeaero
Exec=qgroundcontrol-start.sh
Terminal=false
Categories=Utility;
